/* General Styles */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

body {
  height: 100vh;
  background-color: #2B807B;
  text-align: center;
}

.centrar-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Principal Section */
.principal {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  margin: 50px auto;
  width: 100%;
  max-width: 1300px;
  font-size: 1.75rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Nueva Sección: Botón de Color */
#seccion-color {
  margin: 40px 0;
}

#contenedor-color {
  height: 150px; /* Reducir la altura */
  width: 300px; /* Reducir el ancho */
  background-color: white;
  border: 3px solid black; /* Bordes más delgados */
  border-radius: 10px; /* Esquinas redondeadas */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; /* Centrar contenido */
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 10px; /* Separación externa */
}

/* Texto */
#color-actual {
font-size: 20px; /* Texto más pequeño */
font-weight: bold;
margin-bottom: 10px; /* Separación con el botón */
}

/* Botón */
#boton-color {
  font-size: 18px;
  color: white;
  border-radius: 10px;
  background-color: #008CBA;
  margin: 5px;
  padding: 8px 20px;;
  border: 3px solid #008CBA;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

#boton-color:hover {
  background-color: #05455A;
}

